{% extends 'base.html' %}
{%block content%}
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">PulsePlay</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    {% include 'navigation.html' %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Review</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">My Bets</a></li>
                    <li class="breadcrumb-item active">Review</li>
                </ol>
            </nav>
        </div>

</header>
 <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">My bets</h5>
                <div class="container">
  {% for bet in page_obj %}
    <div class="bet-card mb-3 border rounded shadow-sm">
      <div class="p-2 text-white d-flex justify-content">
        <span>{{ bet.placed_at }}</span>
        <span>Bet ID: {{ bet.id }}</span>
        <strong>{{ bet.status }}</strong>
      </div>
      <div class="p-3">
        <div><strong>Combo ({{ bet.num_games }})</strong></div>
        <div class="text-muted small">{{ bet.description }}</div>
        <hr>
        <div>
          <div>Stake: <strong>{{ bet.stake }} USD</strong></div>
          {% if bet.win_boost %}<div>Win Boost: <strong>{{ bet.win_boost }} USD</strong></div>{% endif %}
          <div>Max Payout: <strong>{{ bet.max_payout }} USD</strong></div>
          <div>Payout: <strong>{{ bet.payout }} USD</strong></div>
        </div>
        <div class="text-primary mt-2" style="cursor:pointer;">View Betslip</div>
      </div>
    </div>
  {% empty %}
    <p>No bets available.</p>
  {% endfor %}

              <!-- Basic Pagination -->
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav><!-- End Basic Pagination -->

            </div>

{%endblock%}
